{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}- {{ tethys_app.name }}{% endblock %}

{% block app_icon %}
{# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
<img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}
<div align="center"><li>
<!--<input type="button" id="load-from-hs" class="btn btn-primary" data-toggle="modal" data-target="#modalAddHS" Value="Add REST URL">-->
<input type="button" id="load-from-soap" class="btn btn-primary" data-toggle="modal" data-target="#modalAddSoap" Value="Add SOAP URL"></li></div>
<br>
<div align="center"> <li><button id="delete-server" class="btn btn-primary" data-toggle="modal" data-target="#modalDelete">Update HS Catalog</button></li></div>
<br>
<!--<div align="center"> <li><button id="load-catalog" class="btn btn-primary" >Load Catalog</button></li></div>-->
<!--<br>-->
<li><input type="text" class="form-control" placeholder="Enter Area of Interest" id="location_input" name="location_input"></li>
<li align="center"><button type="button" class="btn btn-primary" id="location_search" name="location_search" >Click to Zoom to an Area</button></li>

<li><b>Current HydroServers</b>
    <div id="current-servers">
        <ul id="current-servers-list"></ul>
        <!--{% for hs in hs_list %}-->
            <!--<li class="ui-state-default" layer-name="{{ hs.title }}" ><input class="chkbx-layer" type="checkbox" checked><span class="server-name">{{ hs.title }}</span><div class="hmbrgr-div"><img src="/static/servir/images/hamburger.svg"></div></li>-->
            <!--<script>-->
                <!--SERVIR_PACKAGE.addContextMenuToListItem($('#current-servers').find('li:last-child'));-->
            <!--</script>-->
        <!--{% endfor %}-->
    </div>
</li>
{% endblock %}

{% block app_content %}

{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'servir/vendor/openlayers/css/ol.css' %}" type="text/css">
<!--<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />-->
<link href="{% static 'servir/vendor/contextMenu/contextMenu.css' %}" rel="stylesheet" />
<link href="{% static 'servir/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPgvDUpbEwcbg9C0cRTfDtDa-Vj4WBwI0" ></script>
<script src="{% static 'servir/vendor/openlayers/build/ol.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70.0-2014.11.23/jquery.blockUI.min.js"></script>
<script src="{% static 'servir/vendor/contextMenu/contextMenu.min.js' %}" async="async"></script>
<script src="{% static 'servir/js/main.js' %}" type="text/javascript"></script>
{% endblock %}