{% extends "servir/base.html" %}

{% block app_content %}
<div id="map"></div>
<div id="popup" class="popup">
{% endblock %}

{% block app_content_wrapper_override %}

    {{ block.super }}
    <!-- Add HydroServer REST Endpoint -->
    <form id="modalAddHS" class="modal fade" role="dialog" action="add_server/" method="POST">
        {% csrf_token %}
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add WaterOneFlow Service Info</h4>
                </div>
                <div class="modal-body">
                    <br>
                    <label for="hs-title">Title (Required):</label>
                    <input type="text" class="form-control" name="hs-title" id="hs-title" placeholder="Please enter a valid HydroServer Title">

                    <label for="hs-url">URL (Required):</label>
                    <input type="text" class="form-control" name="hs-url" id="hs-url" placeholder="Please enter a valid HydroServer REST Endpoint">

                    <label for="hs-code">Code:</label>
                    <input type="text" class="form-control" name="hs-code" id="hs-code">

                    <label for="hs-website">Website:</label>
                    <input type="text" class="form-control" name="hs-website" id="hs-website">

                    <label for="hs-citation">Citation:</label>
                    <input type="text" class="form-control" name="hs-citation" id="hs-citation">

                    <label for="hs-contact">Contact Name:</label>
                    <input type="text" class="form-control" name="hs-contact" id="hs-contact">

                    <label for="hs-abstract">Abstract:</label>
                    <input type="text" class="form-control" name="hs-abstract" id="hs-abstract">

                    <label for="hs-email">Contact Email:</label>
                    <input type="text" class="form-control" name="hs-email" id="hs-email">


                </div>
                <div class="modal-footer">
                    <div class="button-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="btn-add-server" class="btn btn-default">Add</button>
                    </div>
                </div>
            </div>
            <!--End modal content-->
        </div>
    </form>

    <!--End modal-->
{% endblock %}
{% block scripts %}
{{ block.super }}

{% endblock %}