{% extends "servir/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}
{% block app_content %}
<!--<select class="selectpicker ol-unselectable ol-control polygon" data-width="auto" id="type" data-style="btn-primary" title="Geometry">-->
<!--<option value="Point">Point</option>-->
<!--<option value="Polygon">Polygon</option>-->
<!--<option value="None">None</option>-->
<!--</select>-->
<!--<select id="type"><option value="" disabled selected>Select Geometry</option><option value="Polygon" default>Polygon</option><option value="None">None</option></select>-->
<div id="map"></div>
<div id="popup" class="popup"></div>
<div id="zoomlevel"></div>
{% endblock %}

{% block app_content_wrapper_override %}

{{ block.super }}
<!--Interface Modal--->
<div id="modalInterface" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1>HydroCatalog Settings Interface</h1>
            </div>
            <div class="modal-body">
                <h2>Instructions</h2>
                <h4>Adding A Server to the Catalog</h4>
                <p>The Add SOAP URL will show an interface for adding a valid HydroServer SOAP URL</p>
                <input type="button" id="load-from-soap" class="btn btn-primary" data-toggle="modal" data-target="#modalAddSoap" Value="Add SOAP URL">
                <br>
                <br>
                <h4>Updating the Catalog</h4>
                <p>Use the Update HS Catalog to delete any servers in the catalog. Once deleted these layers will not show up on load</p>
                <input type="button" id="delete-server" class="btn btn-primary" data-toggle="modal" data-target="#modalDelete" Value="Update HS Catalog">
                <div class="success"></div>
            </div>

        </div>
        <!--End modal content-->
    </div>
</div>

<!-- Add HydroServer REST Endpoint -->
<form id="modalAddHS" class="modal fade" role="dialog" action="add_server/" method="POST">
    {% csrf_token %}
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add WaterOneFlow Service Info</h4>
            </div>
            <div class="modal-body">
                <br>
                <label for="hs-title">Title (Required):</label>
                <input type="text" class="form-control" name="hs-title" id="hs-title" placeholder="Please enter a valid HydroServer Title">

                <label for="hs-url">URL (Required):</label>
                <input type="text" class="form-control" name="hs-url" id="hs-url" placeholder="Please enter a valid HydroServer REST Endpoint">

                <!--<label for="hs-code">Code:</label>-->
                <!--<input type="text" class="form-control" name="hs-code" id="hs-code">-->

                <!--<label for="hs-website">Website:</label>-->
                <!--<input type="text" class="form-control" name="hs-website" id="hs-website">-->

                <!--<label for="hs-citation">Citation:</label>-->
                <!--<input type="text" class="form-control" name="hs-citation" id="hs-citation">-->

                <!--<label for="hs-contact">Contact Name:</label>-->
                <!--<input type="text" class="form-control" name="hs-contact" id="hs-contact">-->

                <!--<label for="hs-abstract">Abstract:</label>-->
                <!--<input type="text" class="form-control" name="hs-abstract" id="hs-abstract">-->

                <!--<label for="hs-email">Contact Email:</label>-->
                <!--<input type="text" class="form-control" name="hs-email" id="hs-email">-->
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-add-server" class="btn btn-default">Add</button>
                </div>
            </div>
        </div>
        <!--End modal content-->
    </div>
</form>

<form id="modalAddSoap" class="modal fade"  action="soap/" method="POST">
    {% csrf_token %}
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add WaterOneFlow Service Info</h4>
            </div>
            <div class="modal-body">
                <br>
                <label for="soap-title">Title (Required):</label>
                <input type="text" class="form-control" name="soap-title" id="soap-title" placeholder="Please enter a valid HydroServer Title">

                <label for="soap-url">URL (Required):</label>
                <input type="text" class="form-control" name="soap-url" id="soap-url" placeholder="Please enter a valid HydroServer SOAP Endpoint">
                <div class="checkbox">
                    <label><input type="checkbox" name="extent" id="extent">Get Values for the Zoomed Area</label>
                </div>
                <button type="button" id="select-his" class="btn btn-primary" data-toggle="modal" data-target="#modalHISCentral">Select HIS Central Server</button>
                <div id="chk_val" name="chk_val"></div>
                <div class="warning">
                </div>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-add-soap" class="btn btn-default">Add</button>
                </div>
            </div>
        </div>
        <!--End modal content-->
    </div>
</form>
<!--End modal-->

<form id="modalHISCentral" class="modal fade" role="dialog" action="his-server/" method="POST">
    {% csrf_token %}
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">HIS Central Servers</h4>

            </div>
            <div class="modal-body">
                {% gizmo select_input select_his_server %}
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="add-from-his" class="btn btn-default">Add</button>
                </div>
            </div>
        </div>

        <!--End modal content-->
    </div>
</form>

<form id="modalDelete" class="modal fade" role="dialog" action="delete/" method="POST">
    {% csrf_token %}
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add WaterOneFlow Service Info</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-del-server" class="btn btn-default">Delete</button>
                </div>
            </div>
        </div>
        <!--End modal content-->
    </div>
</form>



<!-- View File Modal -->
<div id="modalViewDetails" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <span class="close-modal" id="close-modalViewDetails">X</span>
        <div class="modal-content flex-container-row">
            <img id="view-file-loading" class="view-file" src="/static/servir/images/loader.gif" />
            <div id="iframe-container" class="view-details hidden" ></div>
        </div>
        <!--End modal content-->
    </div>
</div>
<!--End modal-->

<form id="modalDataRods" class="modal fade" role="dialog" action="/apps/servir/datarods/" method="GET">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Data Rods Explorer</h4>
            </div>
            <div class="modal-body">
                <h3>GLDAS-Noah (LSM) Data</h3>
                {% gizmo select_input select_gldas_variable %}
                {% gizmo date_picker start_date %}
                {% gizmo date_picker end_date %}
                <input type="text" name="gldas-lat-lon" id="gldas-lat-lon" hidden>
                <div class="warning">
                </div>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="get-data-rods" class="btn btn-default" >Get Data</button>
                </div>
            </div>
        </div>
        <!--End modal content-->
    </div>
</form>

<div id="modalViewRods" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <span class="close-modal" id="close-modalViewRods">X</span>
        <div class="modal-content flex-container-row">
            <img id="view-gldas-loading" class="view-file" src="/static/servir/images/loader.gif" />
            <div id="gldas-container" class="view-rods hidden" ></div>
        </div>
        <!--End modal content-->
    </div>
</div>

<form id="modalClimate" class="modal fade" action="cserv/" method="GET" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Climate Serv Console</h4>
            </div>
            <div class="modal-body">
                <h4>Select Data</h4>
                {% gizmo select_input select_data_type %}
                {% gizmo select_input select_operation_type %}
                {% gizmo select_input select_interval_type %}
                {% gizmo date_picker forecast_start %}
                {% gizmo date_picker forecast_end %}
                {% gizmo date_picker seasonal_forecast_start %}
                {% gizmo date_picker seasonal_forecast_end %}

                <div id="forecast" >
                    <label class="control-label" for="cs_forecast_variable">Select a Variable</label>
                    <select name="cs_forecast_variable" id="cs_forecast_variable" class="select2" style="width:100%;">
                        <option value="Precipitation">Precipitation</option>
                        <option value="Temperature">Temperature</option>
                    </select>

                </div>
                <br/>
                <div id="ensemble" >
                    <label  for="cs_model_ensemble">Select a model ensemble</label>
                    <select name="cs_model_ensemble" id="cs_model_ensemble" class="select2" style="width:100%;">
                        <option value="ens01">ens01</option>
                        <option value="ens02">ens02</option>
                        <option value="ens03">ens03</option>
                        <option value="ens04">ens04</option>
                        <option value="ens05">ens05</option>
                        <option value="ens06">ens06</option>
                        <option value="ens07">ens07</option>
                        <option value="ens08">ens08</option>
                        <option value="ens09">ens09</option>
                        <option value="ens10">ens10</option>
                    </select>

                </div>


                <input type="text" name="cserv_lat_lon" id="cserv_lat_lon" hidden>

                <div class="warning">
                </div>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="get-climate-serv" class="btn btn-default" >Get Data</button>
                </div>
            </div>
        </div>
        <!--End modal content-->
    </div>
</form>

<div id="modalViewCS" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <span class="close-modal" id="close-modalViewCS">X</span>
        <div class="modal-content flex-container-row">
            <img id="view-cserv-loading" class="view-file" src="/static/servir/images/loader.gif" />
            <div id="cserv-container" class="view-cserv hidden" ></div>
        </div>
        <!--End modal content-->
    </div>
</div>




<div id="modalClimateServ" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <span class="close-modal" id="close-modalClimateServ">X</span>
        <div class="modal-content flex-container-row">
            <div id="climate-serv-container" class="view-climate" >
                <iframe id="iframe-climate-viewer" src="http://climateserv.nsstc.nasa.gov/" allowfullscreen></iframe>
            </div>
        </div>
        <!--End modal content-->
    </div>
</div>

<form id="modalMapConsole" class="modal fade" role="dialog" action="" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Map Console</h4>
            </div>
            <div class="modal-body">
                <label>Map Interaction</label>
                <select id="types" class="selectpicker" data-width="fit">
                    <option value="None">None</option>
                    <option value="Point">Point</option>
                    <option value="Polygon">Polygon</option>
                </select>
                <h6 style="color:red;">Map Interaction must be set to none to be able to access the HydroServers!</h6>
                <!--<textarea id="data" rows="12" style="width:100%"></textarea>-->
            </div>
        </div>
    </div>
    <!--End modal content-->
    </div>
</form>
{% endblock %}
{% block scripts %}
{{ block.super }}
{% endblock %}