<div id="helpModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content myModal">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2>HydroExplorer Help</h2>
         </div>
         <div class="modal-body" id="helpGroup">
            <p>Please choose from the following options:</p>
            <p>
               <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#help1" aria-expanded="false" aria-controls="help1">
               Add/Manage HydroServers
               </button>
               <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#help2" aria-expanded="false" aria-controls="help2">
               Add/Manage HIS Catalog Servers
               </button>
               <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#help3" aria-expanded="false" aria-controls="help3">
               GLDAS-Noah Data Access
               </button>
            </p>
            <div class="collapse" id="help1" data-parent="helpGroup">
               <div class="card card-body">
                  ToDo: Fill in help information
               </div>
            </div>
            <div class="collapse" id="help2" data-parent="helpGroup">
               <div class="card card-body">
                   ToDo: Fill in help information
               </div>
            </div>
            <div class="collapse" id="help3" data-parent="helpGroup">
               <div class="card card-body">
                   ToDo: Fill in help information
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
