<form id="modalMapConsole" class="modal fade" role="dialog" action="" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Map Console</h4>
            </div>
            <div class="modal-body">
                <label>Map Interaction</label>
                <select id="types" class="selectpicker" data-width="fit">
                    <option value="None">None</option>
                    <option value="Point">Point</option>
                    <option value="Polygon">Polygon</option>
                    <option value="Upload">Upload Shapefile</option>
                </select>
                <h6 style="color:red;">Map Interaction must be set to none to be able to access the HydroServers!</h6>
                <!--<textarea id="data" rows="12" style="width:100%"></textarea>-->
            </div>
        </div>
    </div>
    <!--End modal content-->
    </div>
</form>