{% extends "hydroexplorer/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block app_navigation_items%}
<li class="active"><a href="{% url 'hydroexplorer:create' %}">Database Management Home</a></li>
<li>Add Source</li>
<li>Change a Source</li>
<li><a href="{% url 'hydroexplorer:add-site' %}">Add a Site</a></li>
<li>Change a Site</li>
<li>Add a Variable</li>
<li>Change a Variable</li>
<li>Add a Method</li>
<li>Change a Method</li>
{% endblock %}

{% block app_content%}
<h1>Database Management</h1>

{% endblock %}





