{% extends "hydroexplorer/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block app_content %}
<h4>Site Details for {{site_name}}</h4>
<p>Site Code: {{site_code}}</p>
<p>Service: {{service}}</p>
<div class="warning">
</div>
<div id="domMessage" style="display:none;">
    <h1>We are processing your request.  Please be patient.</h1>
</div>
{% if error_message != None %}
    <h1 style="color:red">{{error_message}}</h1>
    {% endif %}

<!-- This code will be functional once the REST endpoints are enabled again-->
{% if rest %}
{% gizmo select_input select_variable %}
<button id="generate-graph" class="btn btn-primary">Generate Graph</button>

<div>
    <div class="chart-wrapper">
        <div class="chart-inner">
            <div id="container" style="height:275px;width:90%"></div>
        </div>
    </div>
</div>
{% endif %}

<!-- This segment triggers the timeseries plot of the SOAP endpoint-->
{% if soap %}
<form id="soap_variable" action="/apps/hydroexplorer/soap-api/" method="POST">
    {% csrf_token %}

    {% gizmo select_input select_soap_variable %}
    {% gizmo date_picker start_date %}
    {% gizmo date_picker end_date %}

    <button id="generate-plot" class="btn btn-primary">Generate Graph</button>
    <div>
        <div class="chart-wrapper">
            <div class="chart-inner">
                <div class="flex-container-row"><img id="view-file-loading" class="view-file hidden" src="/static/hydroexplorer/images/loader.gif" /></div>
                <div id="plotter" style="height:275px;width:90%" ></div>
            </div>
        </div>
    </div>
</form>
{% endif %}

<!-- Hiding the default tehtys styling-->
{% if hidenav %}

<script>
//     $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
    $(function(){
        $('#app-content-wrapper').removeClass('show-nav');
        $('.tethys-app-header').hide();
    });

    //Get the start date and end date for datepickers
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: '/apps/hydroexplorer/soap-var/',
            dataType: 'JSON',
            success: function (result) {
                $("#start_date").val(result.var_list[0].startDate);
                $("#end_date").val(result.var_list[0].endDate);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(Error);
            }

        });


    });

    //Setting the start and the date dates for the datepickers in the sire details page
    $("#select_var").on('change', function () {
        var variable = $("#select_var option:selected").val();
        var selected_index = $("#select_var").prop('selectedIndex');
        $.ajax({
            type: "GET",
            url: '/apps/hydroexplorer/soap-var/',
            dataType: 'JSON',
            success: function (result) {
                $("#start_date").val(result.var_list[selected_index].startDate);
                $("#end_date").val(result.var_list[selected_index].endDate);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(Error);
            }

        });
    });

    $(document).on('change', $("#start_date"), function () {
        var date_val = $("#start_date").val();
        $("#start_date").val(date_val);
    });
    $(document).on('change', $("#end_date"), function () {
        var date_val = $("#end_date").val();
        $("#end_date").val(date_val);
    });

</script>
{% endif %}
{% endblock %}





