{% extends "hydroexplorer/base.html" %}

{% block app_content %}

 <div id="map" class="map"></div>
    <div>
      <!-- Popup -->
      <div id="popup"></div>
    </div>

{% endblock %}

{% block app_content_wrapper_override %}

{{ block.super }}

{% include "hydroexplorer/modals/manageServers.html" %}    
{% include "hydroexplorer/modals/addHydroServer.html" %}    
{% include "hydroexplorer/modals/addSoap.html" %}    
{% include "hydroexplorer/modals/delServer.html" %}    

{% include "hydroexplorer/modals/hisCentral.html" %}    


{# Management of CUAHSI Comatible Catalog Services #}

{% include "hydroexplorer/modals/addCentral.html" %}    
{% include "hydroexplorer/modals/delCentral.html" %}    


{# View File Modal #}
{% include "hydroexplorer/modals/viewDetails.html" %}    
{% include "hydroexplorer/modals/dataRods.html" %}    

{# Climate Modals #}
{% include "hydroexplorer/modals/climate/main.html" %}    
{% include "hydroexplorer/modals/climate/viewCS.html" %}    

{% include "hydroexplorer/modals/mapConsole.html" %}    
{% include "hydroexplorer/modals/uploadShp.html" %}  

{# Help/Info Modal #}
{% include "hydroexplorer/modals/help.html" %}  


{% endblock %}

{% block app_actions %}
<div id="zoomlevel"></div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% endblock %}